@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --overlay-50: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5));
  --overlay-75: linear-gradient(rgba(2, 15, 8, 0.75), rgba(2, 15, 8, 0.75));
  --overlay-85: linear-gradient(rgba(2, 15, 8, 0.85), rgba(2, 15, 8, 0.85));

  --section-top-gradient: linear-gradient(
    180deg,
    #002426 0%,
    rgba(0, 37, 49, 0) 100%
  );
  --section-bottom-gradient: linear-gradient(
    90deg,
    #001826 0%,
    rgba(0, 37, 49, 0) 100%
  );
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgba(211, 211, 211, 0.603);
  min-height: 100vh;
  width: 100%;
}

svg {
  display: block;
  max-width: 100%;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* chrome */
html::-webkit-scrollbar {
  display: none;
}

/* firefox */
html {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

/*Slider*/

.gallery-main {
  width: 100%;
}

.gallery-main::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0.25;
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--overlay-85);
}

.swiper.gallery .swiper-slide.gallery-slider.swiper-slide-next,
.swiper.gallery .swiper-slide.gallery-slider.swiper-slide-prev {
  height: 187px !important;
  opacity: 1;
}

.swiper.gallery .swiper-slide.gallery-slider.swiper-slide-active {
  height: 187px !important;
  opacity: 1;
}

.image-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 15, 8, 0.75);
  z-index: 1;
}

/*form*/
.phone {
  padding-left: 36px;
}

.phone-label::after {
  content: "+38";
  width: 36px;
  position: absolute;
  bottom: 2px;
  left: 8px;
  font-size: 13px;
  font-weight: 200;
  line-height: 24px;
  letter-spacing: 0.025em;
  color: #fff;
}

.career::after {
  bottom: 0;
  left: 0;
  right: 0;
  background: var(--section-bottom-gradient);
}

.policy-check {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.policy-checkbox {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  transition: all 250ms ease-in;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .policy-checkbox {
    width: 22px;
    height: 22px;
  }
}

.policy-checkbox-empty {
  visibility: visible;
  opacity: 1;
  transition: opacity 250ms ease-in, visibility 250ms ease-in;
}

.policy-check:checked ~ .policy-agreement > .policy-checkbox-empty {
  opacity: 0;
  visibility: hidden;
}

.policy-checkbox-filled {
  opacity: 0;
  visibility: hidden;
  transition: opacity 250ms ease-in, visibility 250ms ease-in;
}

.policy-check:checked ~ .policy-agreement > .policy-checkbox-filled {
  visibility: visible;
  opacity: 1;
}

.footer-link {
  position: relative;
}

.footer-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
  outline: none;
}

.footer-link:hover::after,
.footer-link:focus::after {
  width: 100%;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }

  .swiper.gallery .swiper-slide.gallery-slider.swiper-slide-next,
  .swiper.gallery .swiper-slide.gallery-slider.swiper-slide-prev {
    width: 121px !important;
    height: 87px !important;
  }

  .swiper.gallery .swiper-slide.gallery-slider.swiper-slide-active {
    width: 415px !important;
    height: 294px !important;
    z-index: 2;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    margin: 0 auto;
  }

  .swiper.gallery .swiper-slide.gallery-slider.swiper-slide-next,
  .swiper.gallery .swiper-slide.gallery-slider.swiper-slide-prev {
    width: 313px !important;
    height: 225px !important;
  }

  .swiper.gallery .swiper-slide.gallery-slider.swiper-slide-active {
    width: 606px !important;
    height: 429px !important;
  }

  .promo {
    padding-top: 0;
  }

  .phone-label::after {
    width: 50px;
    font-size: 20px;
    line-height: 24px;
  }
  .phone {
    padding-left: 50px;
  }
  .career::before,
  .career::after {
    display: none;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1440px;
    margin: 0 auto;
  }
}

@layer utilities {
  .navLink {
    @apply text-mainWhite text-lg sm:text-sm font-normal transition duration-300 ease-in-out;
  }

  .section {
    @apply flex min-h-screen flex-col items-center;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  .flexColumn {
    @apply flex flex-col justify-between;
  }

  .textNormal {
    @apply font-normal text-sm;
  }

  .title {
    @apply text-[40px] sm:text-[67px] lg:text-[98px] font-thin text-mainWhite tracking-[-1.6px] sm:tracking-[-2.68px] lg:tracking-[-3.92px] uppercase;
  }

  .titleBold {
    @apply text-[40px] sm:text-[67px] lg:text-[98px] font-medium;
  }

  .text {
    @apply text-mainWhite text-sm sm:text-base lg:text-lg font-extralight leading-5 lg:leading-6;
  }

  .paragraph {
    @apply text-mainWhite font-extralight text-sm sm:text-[13px] lg:text-lg;
  }

  .textContent {
    @apply text-mainWhite text-sm sm:text-base lg:text-lg leading-5 lg:leading-6 font-medium;
  }

  .textContentXS {
    @apply text-mainWhite text-xs font-extralight leading-5 lg:leading-6;
  }

  .btn-anim {
    @apply transition-colors hover:text-mainWhite/60 focus:text-mainWhite/60;
  }

  .input {
    @apply px-2 py-[2px] w-full block bg-white bg-opacity-5 text-mainWhite text-[13px] font-extralight leading-6 outline-none 
  focus:outline-none focus:bg-opacity-10 hover:bg-opacity-10 
  placeholder:text-mainWhite placeholder:opacity-[0.2]
  sm:w-[222px] lg:w-[290px] lg:text-[20px] lg:leading-6 transition-all ease-in duration-200;
  }

  .label {
    @apply text-mainWhite mb-1 text-xs font-extralight leading-[24px] tracking-[2.4px];
  }

  .validation-error {
    @apply absolute bottom-[-24px] right-0 text-red text-xs font-extralight leading-6 tracking-[2.4px]
    before:w-[18px] before:h-[18px] before:absolute before:left-[-22px] before:top-1/2 before:translate-y-[-50%] before:bg-invalid;
  }

  .invalid-input {
    @apply text-red text-opacity-100 z-20;
  }

  .section {
    @apply mx-auto max-w-screen-x text-mainWhite
  sm:max-w-screen-sm sm:w-[768px]
  lg:max-w-screen-lg lg:w-[1280px];
  }
}

.gallery .swiper-wrapper {
  width: 100%;
  align-items: center;
}

.gallery-slider.swiper-slide {
  @apply md:opacity-0;
}
