@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  background-color: rgba(211, 211, 211, 0.603);
  min-height: 100vh;
  width: 100%;
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* chrome */
html::-webkit-scrollbar {
  display: none;
}

/* firefox */
html {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 100%;
  width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.heroSection {
  height: 100%;
  width: 100%;
  background: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
    url(../assets/images/sections/hero.png);
  /* background: linear-gradient(rgba(2, 15, 8, 0.5), rgba(2, 15, 8, 0.5)),
  url("../assets/images/sections/hero.png"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* min-height: 100vh; */
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 1024px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1440) {
  .container {
    width: 1440px;
    margin: 0 auto;
  }
}

.footer-link {
  position: relative;
}

.footer-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #fff;
  transition: width 0.3s ease-in-out;
}

.footer-link:hover::after {
  width: 100%;
}

@layer utilities {
  .navLink {
    @apply text-white text-lg sm:text-sm font-normal transition duration-300 ease-in-out;
  }

  .section {
    @apply flex min-h-screen flex-col items-center;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  .flexColumn {
    @apply flex flex-col justify-between;
  }

  .textNormal {
    @apply font-normal text-sm;
  }

  .title {
    @apply text-[40px] sm:text-[67px] lg:text-[98px] font-thin text-mainWhite tracking-[-1.6px] sm:tracking-[-2.68px] lg:tracking-[-3.92px] uppercase;
  }

  .titleBold {
    @apply text-[40px] sm:text-[67px] lg:text-[98px] font-medium;
  }

  .text {
    @apply text-mainWhite text-sm sm:text-base lg:text-lg font-extralight leading-5 lg:leading-6;
  }
}
